{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.pictureFile) }}
    {{ form_row(form.password) }}
    {{ form_row(form.sector) }}
    {{ form_row(form.contract) }}
    {{ form_label(form.dateContract, 'Date de fin de contrat', {'label_attr': {'class': 'd-none lab'}}) }}
    {{ form_widget(form.dateContract, {'attr': {'class': 'd-none'}}) }}

<button class="btn btn-primary h3 my-3">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
